<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>learn</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header>
        <h1>色んな単語を調べてみよう！<small>ランダムでリストが変わるよ</small></h1>
    </header>
    <ul class="list-group">
        {{range .Items}}
        <li class="list-group-item"><a href="/search/{{.Word}}">{{.Word}}</a> : <small>{{.Mean}}</small></li>
        {{end}}
    </ul>
    <a class="btn btn-lg btn-primary" href="/">リロード</a>
</div>
</body>
</html>