<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
<article>
    <table>
        <thead>
        <tr>
            <th>No.</th>
            <th>単語</th>
            <th>意味</th>
            <th>レベル</th>
        </tr>
        </thead>
        <tbody>
        {{range .Items}}
        <tr>
            <td>{{.ItemId}}</td>
            <td>{{.Word}}</td>
            <td>{{.Mean}}</td>
            <td>{{.Level}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</article>
</body>
</html>