<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header>
        <a class="btn btn-lg btn-primary pull-right" href="/">戻る</a>
        <h1>登録リスト</h1>
    </header>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>単語</th>
            <th>意味</th>
        </tr>
        </thead>
        <tbody>
        {{range .Items}}
        <tr>
            <td>{{.Word}}</td>
            <td>{{.Mean}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
</html>